language: python
python:
  - "2.6"
  - "2.7"
  - "3.3"
  - "3.4"
cache: pip
# command to install dependencies
install:
  - pip install -e .
  - pip install coveralls
# command to run tests
script: nosetests --with-coverage --cover-package=server --cover-package=agent --cover-package=core --cover-min-percentage=85
after_success:
  - coveralls